/*Site css*/
body {
    font-family: 'Varela', sans-serif;
    }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Clicker Script', cursive;
    }

h2 {
    font-size: 50px;
    }

h3 {
    font-size: 45px;
    }

/**Navbar**/    
.navbar{ 
        z-index: 2;
    }

.nav-link , .navbar-brand{ 
    color: #3a3028; 
    cursor: pointer;
    }

.nav-link{ 
    margin-right: 1em !important;
    }

.nav-link:hover{ 
    background: #17a2b8; 
    color: #ffffff; 
    }

.navbar-toggler{  
    border-color:#3a3028 !important;
    }

.navbar-toggler-icon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=3a3028');
    }